<!DOCTYPE html>
<html>
<head>
<title> Sign Up Page </title>
</head>
<body>


{{ bootstrap.load_css() }}

<div class="container">
  <ul class="list-group">
    {% for item in database %}
      <li class="list-group-item"> <label style="color:red;"> <u>First Name </u></label> - {{ item.fname }}, <label style="color:red;"> <u>Last Name </u></label> - {{item.lname}}, 
        <label style="color:red;"> <u> Email </u></label> - {{item.email}}, <label style="color:red;"> <u> Phone Number </u></label> - {{item.phonenumber}},
        <label style="color:red;"> <u> Zip </u></label> - {{item.zipnumber}}, <label style="color:red;"> <u> City </u></label> - {{item.cityy}}, 
        <label style="color:red;"> <u> State </u></label> - {{item.statee}}, <label style="color:red;"> <u> County </u></label> - {{item.countyy}}</li>
    {% endfor %}
  </ul>
</div>

</body>
</html>