<!DOCTYPE html>
<html>
  <head>
  <title> Job application Page </title>
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  </head>
  <body class="bg-success" style="--bs-bg-opacity: .66;">
    <header class="rounded-top p-2 m-2">
      <h1> Job application Form </h1>
    </header>
    <fieldset  class="rounded-bottom bg-success border p-2 m-2" style="--bs-bg-opacity: .33;">
      <legend >Sign Up</legend>
      Major of Study: <input type="text">
    <br> 
  
    Concentration: <input type="text">
    <br> 

    Job Postion: <input type="text">
    <br> 

    Expected Salary: $<input type="Number">
    <br> 
    
    Year of work experience: <input type ="Number">
    <br>
    <br>
      Prefer Location for work 
    <br>
    State: <select id="state" type="text">
        <option>Select:</option>
      </select>
      <br>
      Select a County: <select id="county"></select>
      <br>

      Zip Code: <input id="zip" type="text"><span id="vzip"></span>
      <br>
      City: <span id="city"></span>
      <br>
      Latitude: <span id="lati"></span>
      <br>
      Longitude: <span id="longi"></span>
      <br><br>
      

      Desired Username For Company: <input id="userName" type="text"><span id="avail"></span><br>
      
      Choose Password: <input id="password" type="password"><span id="suggest"></span><br>
      
      Retype Password Again: <input id="passwordRetype" type="password"><br>

      <input id="button" type="submit" value="Sign up!"><span id="sValid"></span>
    </fieldset>
    <script src="script.js"></script>
  </body>
</html>